{% extends "base.html" %}
{% block title %}Test task - TD and IDF{% endblock %}
{% block content %}
    <header>
        {% if list %}
            <table>
                <tr>
                    <th>Word</th>
                    <th>TF</th>
                    <th>IDF</th>
                </tr>
            {% for word in list %}
                <tr>
                    <td>{{word[0]}}</td>
                    <td>{{word[1]}}</td>
                    <td>{{word[2]}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        <form action="#" method="post" enctype="multipart/form-data">
            {{ form.file_text_doc(class='text_doc') }}
            {{ form.submit(class='submit') }}
        </form>
    </header>
{% endblock %}